@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #dde2f0;
}

h4{
    color: #8c8c8c;
}

i{
    color: #ffffff;
}

.botao{
    background: transparent;
    border: none;
}

/* Linha vertial (vertical line) */
.vl{
    border-left: 1px solid black;
    height: 100px;
    width: 1%;
}

.fs-8{
    font-size: 15px;
}

.fs-9{
    font-size: 12px;
}

.w-90{
    width: 90%;
}

.conteudo .container{
    min-width: 1100.40px;
}

.lista-itens .item{
    list-style: none;
    color: #666666;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.lista-itens .item-icon{
    width: 40px;
    height: 40px;
    border-radius: 180px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .col-6 small{
    font-size: 10px;
    color: #8c8c8c;
}

.item .col-1{
    margin-right: 20px;
}


.cartao .item-icon{
    width: 40px;
    height: 40px;
    border-radius: 180px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .botao-cartao{
    width: 95%;
    height: 100px;
    background: #ececec;
    color: #8c8c8c;
    border: none;
    margin-top: 15px;
}

.row .botao-cartao:hover{
    border: 1px solid gray;
}


.row .botao-cartao .d-block{
    height: 50%;
}

.contas-a-receber li i{
    background: rgb(132, 0, 194);
}


/* ==== CORES DOS ÍCONES ==== */

.mercado{
    background: rgb(88, 176, 214);
}

.shopping{
    background: rgb(207, 218, 60);
}

.online{
    background: rgb(242, 144, 15);
}

.roupa{
    background: rgb(29, 218, 4);
}

.paypal{
    background: rgb(118, 159, 255);
}

.mastercard{
    background: rgb(180, 76, 42);
}

.visa{
    background: rgb(19, 12, 199);
}

.venmo{
    background: rgb(0, 115, 255);
}

.b {
    border: 2px solid red;
}

.b2 {
    border: 2px solid blue;
}

.b3 {
    border: 2px solid green;
}