<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/estilo.css">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <!-- ===== BARRA DE NAVEGAÇÃO ===== -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../imagens/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span id="boasvindas1" class="name"></span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/home">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Início</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/lancamentos">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Lançamentos</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/relatorios">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Relatórios</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/perfil">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Perfil</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/notificacoes">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notificações</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/auth/loggout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Sair</span>
                    </a>
                </li>
            </div>

        </div>
    </nav> <!-- ===== FIM BARRA DE NAVEGAÇÃO ===== -->


    <section class="conteudo"> <!-- ==== INÍCIO DO CONTEÚDO PRINCIPAL ==== -->
        <div class="container my-5">
            <div class="row">
                <h1 class="display-4 fs-4 fw-bold"> Boas-vindas <span id="boasvindas2"></span></h1>
            </div>

            <div class="row mt-4"> <!-- ==== PRIMERA ROW ===== -->
                <div class="col-3">
                    <h5 class="display-4 fs-5">Saldo atual</h5>
                    <h3 id="saldo1" class="text-success">R$1700</h3>
                </div>
                <div class="col-4 text-center">
                    <i class='bx bx-dollar-circle fs-1 text-success'></i>
                    <span class="display-3 fs-4 m-2">Receita mensal</span>
                    <button class="botao">
                        <i class='bx bx-plus-circle fs-1 text-success' data-bs-toggle="modal"
                            data-bs-target="#add_receita_despesa" onclick="dispararModal('receita')"></i>
                    </button>
                    <h3 class="text-success">R$1700</h3>
                </div>

                <div class="col-1">
                    <div class="vl m-auto"></div>
                </div>

                <div class="col-4 text-center">
                    <i class='bx bxs-dollar-circle fs-1 text-danger'></i>
                    <span class="display-3 fs-4 m-2">Despesa mensal</span>
                    <button class="botao">
                        <i class='bx bx-minus-circle fs-1 text-danger' data-bs-toggle="modal"
                            data-bs-target="#add_receita_despesa" onclick="dispararModal('despesa')"></i>
                    </button>
                    <h3 class="text-danger">R$-800</h3>
                </div>
            </div>
            <!-- ==== FIM DA PRIMERA ROW ===== -->

            <br>
            <hr><br>

            <div> <!-- ==== SEGUNDA ROW ===== -->
                <div class="row">
                    <div class="col-4">
                        <h4>Contas a pagar</h4>
                        <span class="d-block display-1 text-center fs-5 text-danger my-3">Hoje</span>
                        <ul class="lista-itens secao-ul-contas">
                            <li class="item">
                                <div class="col-1">
                                    <i class='bx bxs-cart item-icon mercado'></i>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <span>Mercado</span>
                                    </div>
                                    <div class="row">
                                        <small>22/03/2023</small>
                                    </div>
                                </div>
                                <div class="col-3 text-end">
                                    <span>R$-200</span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="col-1">
                                    <i class='bx bxs-shopping-bags item-icon shopping'></i>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <span>Shopping</span>
                                    </div>
                                    <div class="row">
                                        <small>22/03/2023</small>
                                    </div>
                                </div>
                                <div class="col-3 text-end">
                                    <span>R$-400</span>
                                </div>
                            </li>
                        </ul>

                        <span class="d-block display-1 text-center fs-5 text-secondary my-3">Próximas</span>

                        <ul class="lista-itens secao-ul-contas">
                            <li class="item">
                                <div class="col-1">
                                    <i class='bx bxl-amazon item-icon online'></i>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <span>Compras online</span>
                                    </div>
                                    <div class="row">
                                        <small>25/05/2023</small>
                                    </div>
                                </div>
                                <div class="col-3 text-end">
                                    <span>R$-1000</span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="col-1">
                                    <i class='bx bx-closet item-icon roupa'></i>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <span>Roupa</span>
                                    </div>
                                    <div class="row">
                                        <small>22/03/2023</small>
                                    </div>
                                </div>
                                <div class="col-3 text-end">
                                    <span>R$-350</span>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="col-4">
                        <h4>Cartão de crédito</h4>
                        <ul class="lista-itens px-3 secao-ul-cartoes">
                            <li class="item">
                                <div class="col-1">
                                    <i class='bx bxl-paypal item-icon paypal'></i>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <span>Paypal</span>
                                    </div>
                                    <div class="row">
                                        <small>Fatura atual</small>
                                    </div>
                                    <div class="row">
                                        <small class="text-danger">R$-150</small>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row w-100">
                                        <button class="btn btn-secondary btn-sm fs-7">
                                            Acessar fatura
                                        </button>
                                    </div>
                                    <div class="row w-100">
                                        <span class="d-flex justify-content-end fs-8 ">Disponível</span>
                                        <small class="d-flex justify-content-end fs-9 fw-lighter">R$1000</small>
                                    </div>
                                </div>
                            </li>

                            <li class="item">
                                <div class="col-1">
                                    <i class='bx bxl-mastercard item-icon mastercard'></i>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <span>Mastercard</span>
                                    </div>
                                    <div class="row">
                                        <small>Fatura atual</small>
                                    </div>
                                    <div class="row">
                                        <small class="text-danger">R$0</small>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row w-100">
                                        <button class="btn btn-secondary btn-sm fs-7">
                                            Acessar fatura
                                        </button>
                                    </div>
                                    <div class="row w-100">
                                        <span class="d-flex justify-content-end fs-8 ">Disponível</span>
                                        <small class="d-flex justify-content-end fs-9 fw-lighter">R$1200</small>
                                    </div>
                                </div>
                            </li>

                            <li class="item">
                                <div class="col-1">
                                    <i class='bx bxl-visa item-icon visa'></i>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <span>Visa</span>
                                    </div>
                                    <div class="row">
                                        <small>Fatura atual</small>
                                    </div>
                                    <div class="row">
                                        <small class="text-danger">R$0</small>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row w-100">
                                        <button class="btn btn-secondary btn-sm fs-7">
                                            Acessar fatura
                                        </button>
                                    </div>
                                    <div class="row w-100">
                                        <span class="d-flex justify-content-end fs-8 ">Disponível</span>
                                        <small class="d-flex justify-content-end fs-9 fw-lighter">R$1200</small>
                                    </div>
                                </div>
                            </li>

                            <li class="item">
                                <div class="col-1">
                                    <i class='bx bxl-venmo item-icon venmo'></i>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <span>Venmo</span>
                                    </div>
                                    <div class="row">
                                        <small>Fatura atual</small>
                                    </div>
                                    <div class="row">
                                        <small class="text-danger">R$0</small>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row w-100">
                                        <button class="btn btn-secondary btn-sm fs-7">
                                            Acessar fatura
                                        </button>
                                    </div>
                                    <div class="row w-100">
                                        <span class="d-flex justify-content-end fs-8 ">Disponível</span>
                                        <small class="d-flex justify-content-end fs-9 fw-lighter">R$1200</small>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="row justify-content-center">
                            <button class="btn botao-cartao" data-bs-toggle="modal" data-bs-target="#novo_cartao">
                                <span class="d-block fs-1">+</span>
                                <span class="d-block fs-5">Novo cartão</span>
                            </button>
                        </div>

                    </div>


                    <div class="col-4">
                        <h4>Gastos do mês atual</h4>
                        <div class="row">
                            <div class="col-6">
                                <ul class="lista-itens px-2 secao-ul-cartoes">
                                    <li class="item">
                                        <div class="col-3 mr">
                                            <i class='bx bxs-cart item-icon mercado '></i>
                                        </div>
                                        <div class="col">
                                            <span>Mercado</span>
                                            <span class="fw-light mx-1">16,6%</span>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="col-3 mr">
                                            <i class='bx bxs-shopping-bags item-icon shopping'></i>
                                        </div>
                                        <div class="col">
                                            <span>Shopping</span>
                                            <span class="fw-light mx-1">16,6%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-6">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6 my-3 text-center">
                                <a href="/relatorios" class="btn btn-sm btn-secondary w-75">
                                    Relatório
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ==== FIM SEGUNDA ROW ===== -->

            <div class="row w-90 my-5 m-auto"><!-- ==== TERCEIRA ROW ===== -->
                <div class="col-6">
                    <h4>Contas a receber</h4>
                    <span class="d-block display-1 text-center fs-5 text-secondary my-3">Este mês</span>
                    <ul class="lista-itens secao-ul-contas contas-a-receber">
                        <li class="item">
                            <div class="col-1">
                                <i class='bx bx-dollar item-icon'></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <span>Venda</span>
                                </div>
                                <div class="row">
                                    <small>22/03/2023</small>
                                </div>
                            </div>
                            <div class="col-3 text-end">
                                <span>R$250</span>
                            </div>
                        </li>
                    </ul>

                    <span class="d-block display-1 text-center fs-5 text-secondary my-3">Próximas</span>

                    <ul class="lista-itens secao-ul-contas contas-a-receber">
                        <li class="item">
                            <div class="col-1">
                                <i class='bx bxs-bar-chart-alt-2 item-icon'></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <span>Investimento</span>
                                </div>
                                <div class="row">
                                    <small>25/05/2023</small>
                                </div>
                            </div>
                            <div class="col-3 text-end">
                                <span>R$1000</span>
                            </div>
                        </li>

                        <li class="item">
                            <div class="col-1">
                                <i class='bx bxs-store-alt item-icon'></i>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <span>Compras online</span>
                                </div>
                                <div class="row">
                                    <small>22/03/2023</small>
                                </div>
                            </div>
                            <div class="col-3 text-end">
                                <span>R$300</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-6 fs-6 balanco-mes">
                    <h4>Balanço do mês</h4>
                    <div class="row my-3">
                        <span>
                            Receita - <small>R$1700</small>
                            <div class="balanco-porcentagem receita d-flex align-items-center justify-content-center">
                                <small>75%</small>
                            </div>
                        </span>
                    </div>
                    <div class="row">
                        <span>
                            Despesa - <small>R$800</small>
                            <div class="balanco-porcentagem despesa d-flex align-items-center justify-content-center">
                                <small>25%</small>
                            </div>
                        </span>
                    </div>
                    <div class="row my-4">
                        <h4 style="color: #666666;">Resultado:</h4>
                        <span class="fs-4 text-success fw-light">R$900</span>
                    </div>
                </div>
            </div>
            <!-- ==== FIM TERCEIRA ROW ===== -->

            <!-- ===== MODAL RECEITA/DESPESA ===== -->
            <div class="modal fade" id="add_receita_despesa" tabindex="-1" aria-labelledby="addReceita/Despesa"
                aria-hidden="true">
                <div class="modal-dialog" style="width: 100%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tituloModal"></h5>
                            <i id="iconModal"></i>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <!-- caixas de texto -->
                                <div class="form-group">
                                    <label for="usuario">Descrição</label>
                                    <input class="form-control" type="text" id="descricao">
                                </div>

                                <div class="row my-3">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="usuario">Valor</label>
                                            <input class="form-control" type="text" id="valor">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="usuario">Data</label>
                                            <input class="form-control" type="date" id="date">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="estados">Categoria</label>
                                            <select class="form-control" id="categorias">
                                                <option></option>
                                                <option></option>
                                                <option></option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- textarea -->
                                <div class="form-group">
                                    <label for="mensagem">Observação (opcional)</label>
                                    <textarea class="form-control" id="mensagem" rows="3"></textarea>
                                </div>

                                <div class="form-group">
                                    <div class="row my-3 botao-repetir" onclick="repetir()">
                                        <div class="col-1">
                                            <i class='bx bx-repeat repetir'></i>
                                        </div>
                                        <div class="col d-flex align-items-center">
                                            <span class="fs-6 fw-light" style="color: green">repetir</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mx-3 d-none" id="opcoes_repeticao">
                                    <div class="form-check">
                                        <div class="row">
                                            <div class="col-4">
                                                <input type="radio" class="form-check-input" id="radio1" name="optradio"
                                                    value="option1" checked>parcelado em:

                                            </div>
                                            <div class="col-3">
                                                <select class="form-control" id="valor">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="col-5">
                                                <select class="form-control" id="escala">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option>...</option>
                                                </select>
                                            </div>

                                        </div>
                                        <label class="form-check-label" for="radio1"></label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                            value="option2">receita fixa
                                        <label class="form-check-label" for="radio2"></label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button class="my-5" id="botao-salvar" style="border: none;">
                                        <i class='bx bx-check salvar'></i>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===== FIM DO MODAL RECEITA/DESPESA ===== -->

            <!-- MODAL NOVO CARTÃO -->

            <div class="modal fade" id="novo_cartao" tabindex="-1" aria-labelledby="novoCartao" aria-hidden="true">
                <div class="modal-dialog" style="width: 100%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tituloModal">Novo cartão</h5>
                            <i class='bx bxs-credit-card text-primary fs-1 mx-2'></i>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <!-- caixas de texto -->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-8">
                                            <label for="estados">Bandeira do cartão</label>
                                            <select class="form-control" id="bandeira">
                                                <option></option>
                                                <option></option>
                                                <option></option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label for="cvv">Limite</label>
                                            <input class="form-control" type="text" id="cvv">
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="usuario">Dia de fechamento</label>
                                            <div class="row">
                                                <div class="col p-1">
                                                    <select class="form-control" id="dia_fechamento">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                        <option>04</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="usuario">Dia de vencimento</label>
                                            <div class="row">
                                                <div class="col p-1">
                                                    <select class="form-control" id="dia_vencimento">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                        <option>04</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group my-3">
                                    <label for="usuario">Nome do cartão</label>
                                    <input class="form-control" type="text" id="nome_cartao">
                                </div>

                                <!-- textarea -->
                                <div class="form-group">
                                    <label for="mensagem">Descrição (opcional)</label>
                                    <textarea class="form-control" id="mensagem" rows="3"></textarea>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button class="my-5" id="botao-salvar" style="border: none;">
                                        <i class='bx bx-check salvar'></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM DO MODAL NOVO CARTÃO -->


        </div>
    </section>
    <!-- ==== FIM DO INÍCIO DO CONTEÚDO PRINCIPAL ==== -->

    <script src="../js/sidebar.js"></script>
    <script src="../js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="../js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <script>
        let user; // Declaração da variável user como global

        fetch("/auth/profile", { method: "get" })
            .then(response => response.text())
            .then(data => {
                user = JSON.parse(data);
                const ids = ["boasvindas1", "boasvindas2"];

                ids.forEach(id => {
                    const element = document.getElementById(id);
                    if (element) {
                        element.innerText = `${user.username}`;
                    }
                });

                const infoUser = {
                    idUser: user.idUser
                };

                return fetch("/api/accounts/getAccount", {
                    method: "post",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(infoUser)
                });
            })
            .then(response => response.text())
            .then(data => {
                console.log(data)
                const account = JSON.parse(data);
                console.log(account[0])
                console.log(account[0].current_balance)
                const ids = ["saldo1", "saldo2"];

                ids.forEach(id => {
                    const element = document.getElementById(id);
                    if (element) {
                        element.innerText = `R$${account[account.length - 1].current_balance}`;
                    }
                });
            })
            .catch(error => {
                console.log("Ocorreu um erro:", error);
            });

    </script>

</body>

</html>